<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnwoowken.lnwoowkenbook"
    android:versionCode="4"
    android:versionName="1.03" >
	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
     <!-- add by chenkai 2012-10-20 for privacy module begin -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- add by chenkai 2012-10-20 for privacy module end -->    
    
     <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
     <!-- 允许用户传入号码直接拔号，不需要通过用户界面确认 -->
     <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 联系人相关 begin -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 联系人相关 end -->
    
    <!-- 信息相关 end -->
     <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 信息相关 end -->
    <!-- 保存联系人相关 begin-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
    <supports-screens android:anyDensity="true"/>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!--
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".TestMain"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
      <activity
            android:name="com.lnwoowken.lnwoowkenbook.WelcomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity> 
       
        <activity
            android:name=".BillListActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/mybill"
            android:screenOrientation="portrait" >
        </activity>

      
      <!--   <activity
            android:name="com.lnwoowken.lnwoowkenbook.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  -->
        
   	<activity
            android:name="com.lnwoowken.lnwoowkenbook.JumpActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        
        
   <!--         	<activity
            android:name="com.lnwoowken.lnwoowkenbook.SurveyActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  --> 
        
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.SurveyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
           
        </activity>  
       

       
        
        <activity 
            android:name="com.lnwoowken.lnwoowkenbook.TabHostActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            
        </activity>
      
       
        <activity
            android:name=".RestaurantListActivity"
            android:launchMode="singleTask"
            android:label="@string/title_city_shanghai"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistActivity"
            android:launchMode="singleTask"
            android:label="@string/title_regist"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RestuarantInfoActivity"
            android:launchMode="singleTop"
            android:label="@string/title_shop_info"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CommitActivity"
            android:launchMode="singleTop"
            android:label="@string/title_bill_confirm"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_user"
            android:launchMode="singleTop"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PayInfoActivity"
            android:launchMode="singleTop"
            android:label="@string/title_bill_pay"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UnPayInfoActivity"
            android:launchMode="singleTop"
            android:label="@string/title_bill_unpay"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BookTableActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:label="@string/title_book_table"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle.Up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.view.VercialTabHost.TabHostTest"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.view.VercialTabHost.HelloWorld"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="keyboard|keyboardHidden"
            
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.umpay.creditcard.android.UmpayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        
        <activity
            android:name="com.unionpay.uppayplugin.demo.APKActivity"
            android:label="@string/app_name" 
            >
        </activity>
        
        <provider android:name="com.cncom.app.base.database.BjnoteProvider"
            android:exported="true"
            android:authorities="com.lnwoowken.lnwoowkenbook.provider.BjnoteProvider"/>
        
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppActionBarTheme.MainActivityActionBar.BlueTitle"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.LoginOrUpdateAccountDialog"
            android:excludeFromRecents="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        
        <!-- 会员修改密码界面 -->
        <activity
            android:name="com.lnwoowken.lnwoowkenbook.UpdatePasswordActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/member_info_login_password"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        
        <!-- 消息推送代码开始 -->
         <receiver
             android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
             android:exported="false" >
         </receiver>
         <receiver android:name="com.umeng.message.RegistrationReceiver" >
             <intent-filter>
                 <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_REMOVED" />

                 <data android:scheme="package" />
             </intent-filter>
         </receiver>
         <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
             <intent-filter>
                 <action android:name="org.agoo.android.intent.action.RECEIVE" />
             </intent-filter>
             <intent-filter>
                 <action android:name="com.lnwoowken.lnwoowkenbook.intent.action.COMMAND" />
             </intent-filter>
             <intent-filter>
                 <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
             </intent-filter>
         </receiver>

         <service
             android:name="com.umeng.message.UmengService"
             android:exported="true"
             android:process=":umengService_v1" >
             <intent-filter>
                 <action android:name="com.lnwoowken.lnwoowkenbook.intent.action.START" />
             </intent-filter>
             <intent-filter>
                 <action android:name="com.lnwoowken.lnwoowkenbook.intent.action.COCKROACH" />
             </intent-filter>
             <intent-filter>
                 <action android:name="org.agoo.android.intent.action.PING" />
             </intent-filter>
         </service>
         <service
             android:name="org.android.agoo.service.ElectionService"
             android:exported="true"
             android:process=":umengService_v1" >
             <intent-filter>
                 <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
             </intent-filter>
         </service>
         <service android:name="com.umeng.message.UmengIntentService" />
         <!-- V1.3.0添加的service，负责下载通知的资源 -->
         <service android:name="com.umeng.message.UmengDownloadResourceService" />
         
            <!-- wangkun "53d3c49a56240bb02a022bd7" -->
		<meta-data
            android:name="UMENG_APPKEY"
            android:value="53fc8b7afd98c5d0d801193d" >
        </meta-data>
            <!-- wangkun "8a984caad589c9e707a2790b4cb3221f" -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2c2295816661a7da248598e69e6e360c" >
        </meta-data>
		<!-- 消息推送代码结束 -->
		<meta-data android:value="DuoFanDian" android:name="UMENG_CHANNEL"/>
		<service
		    android:name="com.umeng.update.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
    </application>

</manifest>